<div class="post-container header-text">
  <div class="post-header">
    <img [src]="post.image || 'default-image.png'" alt="Post Image" class="post-image">
    <div class="post-info">
      <h1 class="post-title">{{ post.title }}</h1>
      <p class="post-author">{{ post.description }}</p>
      <p class="post-date">{{ post.createdAt | date }}</p>
      <p class="post-date" *ngIf="post.likes > 0;" >Likes {{ post.likes}}</p>
    </div>
  </div>
  <div class="post-content">
    <p>{{ post.content }}</p>
  </div>
  <div class="post-footer">
    <button class="btn-like" *ngIf="post.isAsset" (click)="orderPost()">Order Post</button>
    <button class="btn-like" (click)="likePost()">Like</button>
    <button class="btn-comment" (click)="toggleComments()">Comments</button>
    <div class="comments-section" *ngIf="showComments">
      <div class="comment" *ngFor="let comment of post.comments">
        <p><strong>{{ comment.author }}</strong>: {{ comment.text }}</p>
      </div>
      <div class="add-comment">
        <input type="text" [(ngModel)]="newComment" placeholder="Add a comment...">
        <button (click)="addComment()">Post</button>
      </div>
    </div>
  </div>
</div>
