<app-header-user *ngIf="auth.isLoggedin"></app-header-user>
<body>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">

        <div class="main-banner">
          <div class="row">
            <div class="col-lg-7">
              <div class="header-text">
                <h6>Welcome To SkyArt</h6>
                <h4><em>Discover</em> Your Canvas Where Art Comes Alive</h4>
                <div class="main-button">
                  <a [routerLink]="['/posts-search-page']">Browse Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="most-popular">
          <div class="row">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>Most Popular</em> Artworks</h4>
              </div>
              <div class="row" *ngIf="posts.length > 0; else emptyPanel">
                <div class="col-lg-3 col-sm-6" *ngFor="let p of posts  | slice:0:count; let i = index">
                  <div class="item" style="cursor: pointer" [routerLink]="['/post-detail-page', p._id]">
                    <img src="assets/images/popular-01.jpg" alt="">
                    <h4>{{ p.title }}<br><span>{{p.description}}</span></h4>
                    <ul>
                      <li><i class="fa fa-star"></i> 4.8</li>
                      <li><i class="fa fa-download"></i> 2.3M</li>
                    </ul>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="main-button">
                    <a  [routerLink]="['/posts-search-page']">Discover More</a>
                  </div>
                </div>
              </div>
              <ng-template #emptyPanel>
                <div class="empty-panel">
                  <p>No posts available.</p>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
